:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1;
  font-style: normal;

  --color: rgba(255, 255, 255, .7);
  --background-color: rgba(36, 36, 36, .7);
  --color-title: #8a94a6;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);
  fill: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  margin: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

:focus,
:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  /* цвет дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color);
  /* цвет плашки */
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: #8a94a6;
} */

@media (prefers-color-scheme: light) {
  :root {
    --color: rgba(33, 53, 71, .7);
    --background-color: rgba(255, 255, 255, .7);
  }
}